[submodule "lantern-common"]
	path = lantern-common
	url = https://github.com/PowerLeadMarketing/lantern-common.git
[submodule "doc"]
	path = doc
	url = https://github.com/PowerLeadMarketing/lantern-docs.git
